
.content {
    display: flex;
    flex: 1 0;
    flex-wrap: wrap;
    gap: 50px;
}

.panel {
    display: inline-block;
}


.panel_stock_prediction {
    height: 300px;
    width: 1200px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}



.panel_cat > * {
    width: 300px;
    height: 300px;
}

.carr_cat_elem {
    text-align: center;
}

.panel_revenue {
    height: 350px;
    width: 700px;
}

.panel_revenue_cal {
    height: 350px;
    width: 700px;
}

.panel_orders {
    height: 350px;
    width: 350px;
}

.panel_recommended_categories {
    height: 350px;
    width: 350px;
}

.panel_recommended_categories > div:nth-of-type(2) {
    padding: 0;
}

.panel_lowstock {
    height: 350px;
    width: 650px;
}

.panel_lowstock > div:nth-of-type(2) {
    padding: 0;
}

.simple_panel {
    height: 150px;
    width: 400px;
    background: linear-gradient(96.3deg, #303179 0.84%, #575DA8 46.82%, #141850 100%), #FFFFFF;
}
