.box {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 620px;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.titleProdN {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}