
.address_panel {
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    min-height: 300px;
}

.address_panel > * {
    padding-bottom: 10px;
    word-break: break-all;
}

.btn {
    width: 20px;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    color: #ED7966;
}

.hidden_btn {
    width: 20px;
    visibility: hidden;
}

.back_btn {
    display: inline-flex;
}

.back_btn > * {
    margin-right: 10px;
}

.back_btn:hover {
    cursor: pointer;
    color: #ED7966;
}


.spinner {
    max-width: 20px;
    max-height: 20px;
}