.panel {
    background-color: #ffffff; 
    padding: 5px;
    margin: 10px;
    position: static;
    
}

.product_name {
    font-size:  20px;
    font-weight: 400;
    height: 62px;
    width: 245px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    transition: 0.3s;
}

.product_name:hover {
    color: #ED7966;
    cursor: pointer;
}

.titles{
    margin-top: 20px;
    color: #000000;
}

.row{
    padding: 0px;
    margin: 0px;
}
.col1{
    padding: 0px;
    padding-right: 5px;
    margin: 0px;
}

.col2{
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
}

.product_price {
    font-family: FiraSans;
    font-size:  25px;
    font-weight: 800    ;
    height: 50px;
    width: 250px;
    color: #ED7966;
    text-align: right;
    padding: 0px;
    float: right;
    padding-right: 30px;
}


.product_stars {
    font-family: FiraSans;
    font-size:  22px;
    font-weight: 600    ;
    height: 50px;
    width: 250px;
    color:#000000;
    text-align: right;
    float: right;
    padding: 0px;
}



.textProd {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    text-align: left;
    height: 150px;
    width: 250px;
}

.recommended {
    height: 250px;
    width: 250px;
    background-color: #ffffff;

}

.recommendedPhoto {
    height: 100%;
    width: 100%;
    object-fit: contain;
    align-items: center;
    background-color: #ffffff;

}

.root {
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
}

.rootFavoritos {
    height: 400px;
    width: 250px;
    align-items: center;
    background-color: #ffffff;
}

.frame {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}