.titleContainer {
    position: relative;
    display: flex;
    top: -20px;
    padding: 0px;
    margin: 0px;
    font-size: 36px;
    color: white;
    font-weight: 800;
    line-height: 64px;
    font-style: italic;
    /*justify-content: center;*/
}

.titleBackground {
    position: absolute;
    top: 64px;
    width: 100vw;
    height: 64px;
    left: 0;
}