
.rootProposal{
    max-width: 1200px;
}

.nameSeller{
    font-size: 30px;
    font-style: italic;
    color: #989898;
    font-weight: 800;
    margin-left: 100px;
    margin-top: 30px;
}


.proposalTitle{
    font-size: 30px;
    font-style: italic;
    color: #989898;
    font-weight: 800;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.box {
    flex-direction: row;
    border: 2px solid var(--bs-secondary);
    padding: 10px;
    margin-top: 30px;
    background-color: #E5E5E5;
}

.lines{
    margin-bottom: 10px;
}

.subTitle{
    font-size: 20px;
    font-weight: 600;
}

.infos{
    font-size: 20px;
    font-weight: 300;
}

.infosStar{
    font-size: 20px;
    font-weight: 300;
    position: relative;
    top: -3px;
}

.recommended {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
}

.recommendedPhoto {
    height: 100%;
    width: 100%;
    object-fit: contain;
    align-items: center;
    background-color: #ffffff;
}

.itemImg {
    height: 170px;
    width: 170px;
    background-color: #ffffff;
    margin-right: 10px;
}

.imgDiv {
    height: 100%;
    width: 100%;
    object-fit: contain;
    align-items: center;
}

.buttonRate {
    background-color: #ED7966;
    border-color: #ED7966;
    font-weight: 500;
    font-size: 20px;
    color: #fbfbfb;
    float: inline-end;
}


.list {
    display: flex;
    align-items: center;
}

.itemInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.itemInfo {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
}

.categorie {
    font-size: 18px;
    color: #696969;
}

.stars {
    font-size: 18px;
    color: #000000;
}

.priceWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    align-items: flex-end;
}

.price {
    font-weight: 600;
    font-size: 24px;
}


.button {
    background-color: #ED7966;
    border-color: #ED7966;
    padding: 7px;
    font-weight: 500;
    font-size: 18px;
    color: #fbfbfb;
    float: inline-end;
}

.sellerRateCheck{
    margin-left: 30px;
    margin-top: 10px;
}

.sellerRateQuestion{
    font-size: 18px;
    font-weight: 600;
}
.rateinfo{
    font-size: 15px;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 0px;
    padding: 0px;
}