.wrapper { 
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 30px;
    border: 1px solid var(--bs-secondary);
    background-color: white;
}

.box div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    align-content: center;
}

.grey, .smallerGrey {
    color: #989898;
    font-size: 14px;
    align-self: flex-end;
    padding-bottom: 3px;
}

.left {
    padding-left: 4px;
}

.total {
    color: var(--bs-secondary);
}
   

.box div div svg {
    align-self: center;
}

.box button {
    height: 46px;
    margin-top: 5px;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.title_payment {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.line {
    border-top: 1px dashed #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grey {
    font-size: 24px !important;
    padding: 0px !important;
}

.basket {
    position: relative;
    top: -2.5px;
}

