.panel {
    background-color: #ffffff; 
    padding: 5px;
    margin: 10px;
    position: static;
    
}

.panelReviews {
    background-color: #ffffff; 
    padding: 5px;
    margin: 10px;
    position: static;
    margin-left: 0px;;

}


.carousel {
    margin-top: 8px;
    padding: 10px;
    min-width: 80%;
    min-height: 80%;
    background-color: #ffffff;
    position: relative; 
    max-width: 100%;
    max-height: 100%;
}

.button {
    background-color: #ED7966;
    border-color: #ED7966;
    padding: 10px;
    margin-top: 25px;
    margin-left: 120px;
    font-family: FiraSans;
    font-weight: bold;
    font-size: 20px;
    color: #fbfbfb;
}



.productName {
    color: #000000;
    margin-bottom: 0px;
    padding: 0;
    font-family: FiraSans;
    font-weight: 600;
    font-size: 26px;
}

.prodStats{
    margin-bottom: 20px;
}

.reviews {
    color: #000000;
    font-family: FiraSans;
    font-weight: initial;
    font-size: 25px;
    float: right;
}

.favorite {
    font-weight: initial;
    font-size: 20px;
    margin-top: 5px;
}

.buttonFav {
    font-family: FiraSans;
    font-weight: 600;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.stars{
    color: #000000;
    font-family: FiraSans;
    font-weight: initial;
    font-size: 30px;
    padding-right: 10px;
    float: right;
    margin-top: -7px;
}

.description    {
    color: #000000;
    font-family: FiraSans;
    font-size:  18px;
    padding-top: 15px;
    text-align: justify;
}

.description2{
    font-weight: 700;
}

.technicalDescription{
    color: #000000;
    font-family: FiraSans;
    font-size:  25px;
    padding-top: 20px;
    font-weight: 600;
}

.price {
    color: #ED7966;
    font-family: FiraSans;
    font-size: 40px;
    font-weight: 900;
}

.table1{
    color: black;
    font-family: FiraSans;
    font-size: 20px;
    width: 350px;
    margin-left: 10px;
    margin-top: 30px;
}

.closeBtn {
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.closeBtn svg {
    position: relative;
    left: 21px;
}

.reviewName{
    color: #000000;
    font-family: FiraSans;
    font-size:  35px;
    font-weight: 200;
}

.buttonComment {
    background-color: #ED7966;
    border-color: #ED7966;
    font-family: FiraSans;
    font-weight: bold;
    font-size: 20px;
    color: #fbfbfb;
    margin-top: 5px;
    float: right;
}

.reviewTop{
    margin-top: 40px;
}
.reviewTitle{
    color: #000000;
    font-family: FiraSans;
    font-size:  25px;
    font-weight: 600;
}

.reviewUser{
    color: #000000;
    font-family: FiraSans;
    font-size:  20px;
    font-weight: 200;
    padding-top: 10px;
    padding-left: 10px;
}

.reviewDescription    {
    color: #000000;
    font-family: FiraSans;
    font-size:  18px;
    padding-top: 10px;
    text-align: justify;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.product_name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    font-family: FiraSans;
    font-size:  25px;
    font-weight: 700;
}

.textProd {
    margin-bottom: 50px;
}

.recommended {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    align-items: center;

}

.recommendedPhoto {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.arrow{
    vertical-align: middle;
    margin-top: -2.5px;
    margin-left: 5px;
    margin-right: 5px;

}

.reviewCol2{
    margin-right: 8px;
}